/* Estilo para a tabela */
table {
    border-collapse: collapse;
    width: 80%; /* Largura da tabela */
    margin: 20px auto; /* Centralizar a tabela */
  }
  
  /* Estilo para as células de cabeçalho */
  th {
    background-color: #f2f2f2; /* Cor de fundo do cabeçalho */
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd; /* Borda das células de cabeçalho */
  }
  
  /* Estilo para as células de dados */
  td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd; /* Borda das células de dados */
  }
  
  /* Estilo para o botão */
  #listar {
    background-color: #007bff; /* Cor de fundo do botão */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
  
  /* Estilo para o título */
  h1 {
    text-align: center;
  }
  
  /* Estilo para espaçamento */
  br {
    line-height: 20px;
  }
  